<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Rank</th>
      <th>Country / Dependency</th>
      <th>Population</th>
      <th>Percentage of the world</th>
      <th>Date</th>
      <th>Source (official or from the United Nations)</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>–</td>
      <td>World</td>
      <td>7984484000</td>
      <td>100%</td>
      <td>13 Oct 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>China</td>
      <td>1412600000</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[4]</td>
      <td>The population figure refers to mainland China, excluding its special administrative regions of Hong Kong and Macau, the former of which returned to Chinese sovereignty in 1997 and the latter in 1999.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>India</td>
      <td>1375586000</td>
      <td>NaN</td>
      <td>1 Mar 2022</td>
      <td>Official projection[5]</td>
      <td>The figure includes the population of Indian-administered Jammu and Kashmir and Ladakh.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>United States</td>
      <td>331893745</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[6]</td>
      <td>The figure includes the 50 states and the District of Columbia, but excludes the territories of the United States.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>Indonesia</td>
      <td>275773800</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Official estimate[7]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>Pakistan</td>
      <td>229489000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>The figure includes the population of Pakistan-administered Azad Kashmir and Gilgit-Baltistan.</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>Nigeria</td>
      <td>216747000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>Brazil</td>
      <td>215258830</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[8]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>Bangladesh</td>
      <td>165158616</td>
      <td>NaN</td>
      <td>15 Jun 2022</td>
      <td>2022 preliminary census result[9]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>Russia</td>
      <td>145100000</td>
      <td>NaN</td>
      <td>1 Jun 2022</td>
      <td>Official estimate[10]</td>
      <td>It includes the Republic of Crimea and Sevastopol, administrative areas on the Crimean Peninsula occupied by Russia. The Ukrainian government and most of the world's other states consider the Crimean Peninsula part of Ukraine's territory.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>Mexico</td>
      <td>128533664</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National quarterly estimate[11]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>Japan</td>
      <td>125927902</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[12]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>Philippines</td>
      <td>112546204</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[13]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>Ethiopia</td>
      <td>105163988</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National annual projection[14]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>Egypt</td>
      <td>103944226</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[15]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>Vietnam</td>
      <td>98506193</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[16]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>DR Congo</td>
      <td>95241000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>Iran</td>
      <td>85851920</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[17]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>Turkey</td>
      <td>84680273</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[18]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>Germany</td>
      <td>84079811</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National quarterly estimate[19]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>France</td>
      <td>67939000</td>
      <td>NaN</td>
      <td>1 Sep 2022</td>
      <td>Monthly national estimate[20]</td>
      <td>Includes the integral 18 regions of France (including 5 overseas departments and regions). Does not include France's 5 overseas collectivities: French Polynesia, Saint Barthélemy, Saint Martin, Saint Pierre and Miquelon, and Wallis and Futuna, and the sui generis collectivity of New Caledonia, which are shown separately.[21]</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>United Kingdom</td>
      <td>67081234</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>Official estimate[22]</td>
      <td>Excludes the 3 British Crown Dependencies and the 14 British Overseas Territories listed separately. Four British Overseas Territories are not listed due to their extraordinary nature.[23]</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>Thailand</td>
      <td>66846655</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[24]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>Tanzania</td>
      <td>61280743</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Official projection[25]</td>
      <td>Includes Zanzibar.</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>South Africa</td>
      <td>60604992</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Official estimate[26]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>Italy</td>
      <td>58853482</td>
      <td>NaN</td>
      <td>31 Jul 2022</td>
      <td>Monthly national estimate[27]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>Myanmar</td>
      <td>55294979</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[28]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>South Korea</td>
      <td>51638809</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[29]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>Colombia</td>
      <td>51049498</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>Official projection[30]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>Kenya</td>
      <td>47564296</td>
      <td>NaN</td>
      <td>31 Aug 2019</td>
      <td>2019 census result[31]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30</td>
      <td>Spain</td>
      <td>47432805</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[32]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>31</th>
      <td>31</td>
      <td>Argentina</td>
      <td>47327407</td>
      <td>NaN</td>
      <td>18 May 2022</td>
      <td>2022 census preliminary result[33]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>32</td>
      <td>Algeria</td>
      <td>45400000</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[34]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>33</th>
      <td>33</td>
      <td>Sudan</td>
      <td>44827880</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[35]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>34</th>
      <td>34</td>
      <td>Uganda</td>
      <td>42885900</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official projection[36]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>35</th>
      <td>35</td>
      <td>Iraq</td>
      <td>41190700</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[37]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>36</td>
      <td>Ukraine</td>
      <td>41130432</td>
      <td>NaN</td>
      <td>1 Feb 2022</td>
      <td>National monthly estimate[38]</td>
      <td>Excluding the Autonomous Republic of Crimea and the city of Sevastopol, Ukraine's de jure territory which is occupied by Russia (however including the Donbas region where there are ongoing separatist insurgencies).</td>
    </tr>
    <tr>
      <th>37</th>
      <td>37</td>
      <td>Canada</td>
      <td>38971520</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[39]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>38</td>
      <td>Poland</td>
      <td>37996000</td>
      <td>NaN</td>
      <td>31 Jul 2022</td>
      <td>National monthly estimate[40]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>39</td>
      <td>Morocco</td>
      <td>36747716</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[41]</td>
      <td>Excluding the disputed territory of Western Sahara (Sahrawi Arab Democratic Republic).</td>
    </tr>
    <tr>
      <th>40</th>
      <td>40</td>
      <td>Uzbekistan</td>
      <td>35821547</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[42]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>41</th>
      <td>41</td>
      <td>Saudi Arabia</td>
      <td>35013414</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>Official estimate[43]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>42</th>
      <td>42</td>
      <td>Peru</td>
      <td>33396698</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National annual projection[44]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>43</th>
      <td>43</td>
      <td>Angola</td>
      <td>33086278</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National annual projection[45]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>44</th>
      <td>44</td>
      <td>Afghanistan</td>
      <td>32890171</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>Official estimate[46]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>45</th>
      <td>45</td>
      <td>Malaysia</td>
      <td>32745600</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[47]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>46</th>
      <td>46</td>
      <td>Mozambique</td>
      <td>31616078</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National annual projection[48]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>47</th>
      <td>47</td>
      <td>Yemen</td>
      <td>31155000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>48</th>
      <td>48</td>
      <td>Ghana</td>
      <td>30832019</td>
      <td>NaN</td>
      <td>27 Jun 2021</td>
      <td>2021 census results[49]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>49</th>
      <td>49</td>
      <td>Ivory Coast</td>
      <td>29389150</td>
      <td>NaN</td>
      <td>14 Dec 2021</td>
      <td>2021 census result[50]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>50</th>
      <td>50</td>
      <td>Venezuela</td>
      <td>29267000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>51</th>
      <td>51</td>
      <td>Nepal</td>
      <td>29192480</td>
      <td>NaN</td>
      <td>11 Nov 2021</td>
      <td>2021 census result[51]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>52</th>
      <td>52</td>
      <td>Madagascar</td>
      <td>26923353</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[52]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>53</th>
      <td>53</td>
      <td>Australia</td>
      <td>25981213</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[53]</td>
      <td>Excluding the external territories of Christmas Island, the Cocos (Keeling) Islands, and Norfolk Island.</td>
    </tr>
    <tr>
      <th>54</th>
      <td>54</td>
      <td>North Korea</td>
      <td>25660000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[54]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>55</th>
      <td>55</td>
      <td>Cameroon</td>
      <td>24348251</td>
      <td>NaN</td>
      <td>1 Jul 2019</td>
      <td>National annual projection[55]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>56</th>
      <td>56</td>
      <td>Niger</td>
      <td>24112753</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[56]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>57</th>
      <td>–</td>
      <td>Taiwan</td>
      <td>23375314</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[57]</td>
      <td>Taiwan includes Penghu, Kinmen, Matsu and other minor islands.</td>
    </tr>
    <tr>
      <th>58</th>
      <td>57</td>
      <td>Sri Lanka</td>
      <td>22156000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[58]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>59</th>
      <td>58</td>
      <td>Burkina Faso</td>
      <td>21510181</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National annual projection[59]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>60</th>
      <td>59</td>
      <td>Malawi</td>
      <td>21507723</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National annual projection[60]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>61</th>
      <td>60</td>
      <td>Mali</td>
      <td>21474000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>62</th>
      <td>61</td>
      <td>Chile</td>
      <td>19678363</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>National annual projection[61]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>63</th>
      <td>62</td>
      <td>Kazakhstan</td>
      <td>19326752</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[62]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>64</th>
      <td>63</td>
      <td>Romania</td>
      <td>19038098</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[63]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>65</th>
      <td>64</td>
      <td>Zambia</td>
      <td>18400556</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[64]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>66</th>
      <td>65</td>
      <td>Syria</td>
      <td>18276000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>67</th>
      <td>66</td>
      <td>Ecuador</td>
      <td>18081348</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[65]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>68</th>
      <td>67</td>
      <td>Netherlands</td>
      <td>17752610</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[66]</td>
      <td>Excluding the three constituent countries of the Kingdom of the Netherlands in the Caribbean Sea (Aruba, Curaçao, and Sint Maarten), but including the three special municipalities of the Caribbean Netherlands (Bonaire, Sint Eustatius and Saba).</td>
    </tr>
    <tr>
      <th>69</th>
      <td>68</td>
      <td>Senegal</td>
      <td>17223497</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[67]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>70</th>
      <td>69</td>
      <td>Guatemala</td>
      <td>17109746</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[68]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>71</th>
      <td>70</td>
      <td>Chad</td>
      <td>16818391</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[69]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>72</th>
      <td>71</td>
      <td>Somalia</td>
      <td>16360000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>Including Somaliland.</td>
    </tr>
    <tr>
      <th>73</th>
      <td>72</td>
      <td>Cambodia</td>
      <td>15552211</td>
      <td>NaN</td>
      <td>3 Mar 2019</td>
      <td>2019 census result[70]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>74</th>
      <td>73</td>
      <td>Zimbabwe</td>
      <td>15178979</td>
      <td>NaN</td>
      <td>20 Apr 2022</td>
      <td>2022 preliminary census result[71]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>75</th>
      <td>74</td>
      <td>South Sudan</td>
      <td>13249924</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National annual projection[72]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>76</th>
      <td>75</td>
      <td>Rwanda</td>
      <td>12955768</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[73]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>77</th>
      <td>76</td>
      <td>Guinea</td>
      <td>12907395</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[74]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>78</th>
      <td>77</td>
      <td>Burundi</td>
      <td>12574571</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[75]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>79</th>
      <td>78</td>
      <td>Benin</td>
      <td>12506347</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[76]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>80</th>
      <td>79</td>
      <td>Tunisia</td>
      <td>11803588</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>National semi-annual estimate[77]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>81</th>
      <td>80</td>
      <td>Bolivia</td>
      <td>11797257</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[78]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>82</th>
      <td>81</td>
      <td>Haiti</td>
      <td>11743017</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National annual projection[79]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>83</th>
      <td>82</td>
      <td>Belgium</td>
      <td>11671737</td>
      <td>NaN</td>
      <td>1 May 2022</td>
      <td>Official estimate[80]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>84</th>
      <td>83</td>
      <td>Jordan</td>
      <td>11318372</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[81]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>85</th>
      <td>84</td>
      <td>Cuba</td>
      <td>11113215</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[82]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>86</th>
      <td>85</td>
      <td>Dominican Republic</td>
      <td>10535535</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[83]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>87</th>
      <td>86</td>
      <td>Czech Republic</td>
      <td>10525739</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>2022 estimate[84]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>88</th>
      <td>87</td>
      <td>Sweden</td>
      <td>10502959</td>
      <td>NaN</td>
      <td>31 Aug 2022</td>
      <td>Monthly national estimate[85]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>89</th>
      <td>88</td>
      <td>Greece</td>
      <td>10432481</td>
      <td>NaN</td>
      <td>23 Nov 2021</td>
      <td>2021 census preliminary results[86]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>90</th>
      <td>89</td>
      <td>Portugal</td>
      <td>10344802</td>
      <td>NaN</td>
      <td>19 Apr 2021</td>
      <td>2021 census preliminary results[87]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>91</th>
      <td>90</td>
      <td>Azerbaijan</td>
      <td>10185784</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Monthly national estimate[88]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>92</th>
      <td>91</td>
      <td>Hungary</td>
      <td>9689000</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[89]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>93</th>
      <td>92</td>
      <td>Israel</td>
      <td>9589340</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[90]</td>
      <td>The figure includes East Jerusalem and the Golan Heights. It also includes Israeli settlers within Area C of the West Bank.</td>
    </tr>
    <tr>
      <th>94</th>
      <td>93</td>
      <td>Honduras</td>
      <td>9546178</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[91]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>95</th>
      <td>94</td>
      <td>Tajikistan</td>
      <td>9506000</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[92]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>96</th>
      <td>95</td>
      <td>United Arab Emirates</td>
      <td>9282410</td>
      <td>NaN</td>
      <td>31 Dec 2020</td>
      <td>Official estimate[93]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>97</th>
      <td>96</td>
      <td>Belarus</td>
      <td>9255524</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[94]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>98</th>
      <td>97</td>
      <td>Papua New Guinea</td>
      <td>9122994</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>99</th>
      <td>98</td>
      <td>Austria</td>
      <td>9061848</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National quarterly estimate[96]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>100</th>
      <td>99</td>
      <td>Switzerland</td>
      <td>8770283</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National quarterly estimate[97]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>101</th>
      <td>100</td>
      <td>Sierra Leone</td>
      <td>8297882</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[98]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>102</th>
      <td>101</td>
      <td>Togo</td>
      <td>7886000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[99]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>103</th>
      <td>–</td>
      <td>Hong Kong (China)</td>
      <td>7403100</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>National semi-annual estimate[100]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>104</th>
      <td>102</td>
      <td>Paraguay</td>
      <td>7353038</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[101]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>105</th>
      <td>103</td>
      <td>Laos</td>
      <td>7337783</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[102]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>106</th>
      <td>104</td>
      <td>Libya</td>
      <td>7054493</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>107</th>
      <td>105</td>
      <td>El Salvador</td>
      <td>6825935</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[103]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>108</th>
      <td>106</td>
      <td>Kyrgyzstan</td>
      <td>6800000</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Monthly national estimate[104]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>109</th>
      <td>107</td>
      <td>Serbia</td>
      <td>6797105</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[105]</td>
      <td>Excluding Kosovo.</td>
    </tr>
    <tr>
      <th>110</th>
      <td>108</td>
      <td>Lebanon</td>
      <td>6769000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>111</th>
      <td>109</td>
      <td>Nicaragua</td>
      <td>6595674</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>Official estimate[106]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>112</th>
      <td>110</td>
      <td>Bulgaria</td>
      <td>6520314</td>
      <td>NaN</td>
      <td>7 Sep 2021</td>
      <td>Official estimate[107]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>113</th>
      <td>111</td>
      <td>Turkmenistan</td>
      <td>6118000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>114</th>
      <td>112</td>
      <td>Denmark</td>
      <td>5910577</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>National quarterly estimate[108]</td>
      <td>Excluding the Faroe Islands and Greenland.</td>
    </tr>
    <tr>
      <th>115</th>
      <td>113</td>
      <td>Congo</td>
      <td>5657000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>116</th>
      <td>114</td>
      <td>Central African Republic</td>
      <td>5633412</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National annual projection[109]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>117</th>
      <td>115</td>
      <td>Finland</td>
      <td>5522135</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>Monthly national estimate[110]</td>
      <td>Excluding Åland.</td>
    </tr>
    <tr>
      <th>118</th>
      <td>116</td>
      <td>Singapore</td>
      <td>5453600</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>Official estimate[111]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>119</th>
      <td>117</td>
      <td>Norway</td>
      <td>5455582</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National quarterly estimate[112]</td>
      <td>Includes Svalbard.</td>
    </tr>
    <tr>
      <th>120</th>
      <td>118</td>
      <td>Slovakia</td>
      <td>5434712</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>National quarterly estimate[113]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>121</th>
      <td>119</td>
      <td>Palestine</td>
      <td>5227193</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[114]</td>
      <td>Figures does not include East Jerusalem or Israeli settlements in the West Bank.</td>
    </tr>
    <tr>
      <th>122</th>
      <td>120</td>
      <td>Costa Rica</td>
      <td>5163038</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>National annual projection[115]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>123</th>
      <td>121</td>
      <td>New Zealand</td>
      <td>5130152</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[116]</td>
      <td>Excluding the two self-governing associated states Cook Islands and Niue, and the dependent territory (Tokelau).</td>
    </tr>
    <tr>
      <th>124</th>
      <td>122</td>
      <td>Ireland</td>
      <td>5123536</td>
      <td>NaN</td>
      <td>3 Apr 2022</td>
      <td>2022 census preliminary results[117]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>125</th>
      <td>123</td>
      <td>Kuwait</td>
      <td>4670713</td>
      <td>NaN</td>
      <td>31 Dec 2020</td>
      <td>Official estimate[118]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>126</th>
      <td>124</td>
      <td>Liberia</td>
      <td>4661010</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[119]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>127</th>
      <td>125</td>
      <td>Oman</td>
      <td>4527446</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Monthly national estimate[120]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>128</th>
      <td>126</td>
      <td>Panama</td>
      <td>4278500</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National annual projection[121]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>129</th>
      <td>127</td>
      <td>Mauritania</td>
      <td>4271197</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[122]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>130</th>
      <td>128</td>
      <td>Croatia</td>
      <td>3888529</td>
      <td>NaN</td>
      <td>31 Aug 2021</td>
      <td>2021 census preliminary results[123]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>131</th>
      <td>129</td>
      <td>Georgia</td>
      <td>3688600</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[124]</td>
      <td>Excluding Abkhazia (242,862, census 2011) and South Ossetia (53,559, census 2015).</td>
    </tr>
    <tr>
      <th>132</th>
      <td>130</td>
      <td>Eritrea</td>
      <td>3601000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>133</th>
      <td>131</td>
      <td>Uruguay</td>
      <td>3554915</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>National annual projection[125]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>134</th>
      <td>132</td>
      <td>Mongolia</td>
      <td>3462034</td>
      <td>NaN</td>
      <td>13 Oct 2022</td>
      <td>National population clock[126]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>135</th>
      <td>133</td>
      <td>Bosnia and Herzegovina</td>
      <td>3320954</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>Official estimate[127][128]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>136</th>
      <td>–</td>
      <td>Puerto Rico (United States)</td>
      <td>3285874</td>
      <td>NaN</td>
      <td>1 Apr 2020</td>
      <td>2020 census result[129]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>137</th>
      <td>134</td>
      <td>Armenia</td>
      <td>2963900</td>
      <td>NaN</td>
      <td>31 Mar 2021</td>
      <td>National quarterly estimate[130]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>138</th>
      <td>135</td>
      <td>Lithuania</td>
      <td>2830097</td>
      <td>NaN</td>
      <td>1 Jul 2022</td>
      <td>Monthly national estimate[131]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>139</th>
      <td>136</td>
      <td>Albania</td>
      <td>2829741</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[132]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>140</th>
      <td>137</td>
      <td>Qatar</td>
      <td>2799202</td>
      <td>NaN</td>
      <td>31 Jul 2019</td>
      <td>Official estimate[133]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>141</th>
      <td>138</td>
      <td>Jamaica</td>
      <td>2734093</td>
      <td>NaN</td>
      <td>31 Dec 2019</td>
      <td>National semi-annual estimate[134]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>142</th>
      <td>139</td>
      <td>Moldova</td>
      <td>2597100</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[135]</td>
      <td>Excluding Transnistria.</td>
    </tr>
    <tr>
      <th>143</th>
      <td>140</td>
      <td>Namibia</td>
      <td>2550226</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[136]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>144</th>
      <td>141</td>
      <td>Gambia</td>
      <td>2487000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>145</th>
      <td>142</td>
      <td>Botswana</td>
      <td>2410338</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[137]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>146</th>
      <td>143</td>
      <td>Gabon</td>
      <td>2233272</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[138]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>147</th>
      <td>144</td>
      <td>Lesotho</td>
      <td>2159000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>148</th>
      <td>145</td>
      <td>Slovenia</td>
      <td>2108977</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>2021 census result[139]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>149</th>
      <td>146</td>
      <td>Latvia</td>
      <td>1893400</td>
      <td>NaN</td>
      <td>1 Jun 2022</td>
      <td>Monthly national estimate[140]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>150</th>
      <td>147</td>
      <td>North Macedonia</td>
      <td>1832696</td>
      <td>NaN</td>
      <td>1 Nov 2021</td>
      <td>2021 census result[141]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>151</th>
      <td>–</td>
      <td>Kosovo</td>
      <td>1798188</td>
      <td>NaN</td>
      <td>31 Dec 2020</td>
      <td>Official estimate[142]</td>
      <td>The political status of Kosovo is disputed. Having unilaterally declared independence from Serbia in 2008, Kosovo is formally recognised as an independent state by 100 UN member states (with another 13 states recognising it at some point but then withdrawing their recognition) and 93 states not recognizing it, while Serbia continues to claim it as part of its own sovereign territory.</td>
    </tr>
    <tr>
      <th>152</th>
      <td>148</td>
      <td>Guinea-Bissau</td>
      <td>1646077</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[143]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>153</th>
      <td>149</td>
      <td>Equatorial Guinea</td>
      <td>1505588</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[144]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>154</th>
      <td>150</td>
      <td>Bahrain</td>
      <td>1501635</td>
      <td>NaN</td>
      <td>17 Mar 2020</td>
      <td>2020 census result[145]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>155</th>
      <td>151</td>
      <td>Trinidad and Tobago</td>
      <td>1367558</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>Official estimate[146]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>156</th>
      <td>152</td>
      <td>Estonia</td>
      <td>1331796</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[147]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>157</th>
      <td>153</td>
      <td>East Timor</td>
      <td>1317780</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[148]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>158</th>
      <td>154</td>
      <td>Mauritius</td>
      <td>1266334</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>National semi-annual estimate[149]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>159</th>
      <td>155</td>
      <td>Eswatini</td>
      <td>1172000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>160</th>
      <td>156</td>
      <td>Djibouti</td>
      <td>976107</td>
      <td>NaN</td>
      <td>1 Jul 2019</td>
      <td>National annual projection[150]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>161</th>
      <td>157</td>
      <td>Cyprus</td>
      <td>918100</td>
      <td>NaN</td>
      <td>1 Oct 2021</td>
      <td>2021 census preliminary results[151]</td>
      <td>Excluding Northern Cyprus.</td>
    </tr>
    <tr>
      <th>162</th>
      <td>158</td>
      <td>Fiji</td>
      <td>898402</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>163</th>
      <td>159</td>
      <td>Comoros</td>
      <td>758316</td>
      <td>NaN</td>
      <td>15 Dec 2017</td>
      <td>2017 census result[152]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>164</th>
      <td>160</td>
      <td>Bhutan</td>
      <td>763200</td>
      <td>NaN</td>
      <td>30 May 2022</td>
      <td>National annual projection[153]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>165</th>
      <td>161</td>
      <td>Guyana</td>
      <td>743699</td>
      <td>NaN</td>
      <td>1 Jul 2019</td>
      <td>Official estimate[154]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>166</th>
      <td>162</td>
      <td>Solomon Islands</td>
      <td>728041</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>167</th>
      <td>–</td>
      <td>Macau (China)</td>
      <td>683200</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>National quarterly estimate[155]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>168</th>
      <td>163</td>
      <td>Luxembourg</td>
      <td>645397</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>Official estimate[156]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>169</th>
      <td>164</td>
      <td>Montenegro</td>
      <td>621306</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>National semi-annual estimate[157]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>170</th>
      <td>–</td>
      <td>Western Sahara</td>
      <td>612000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>Disputed territory. Administration is split between Morocco and the Sahrawi Arab Democratic Republic, both of which claim the entire territory. The Sahrawi Arab Democratic Republic's administrative control is limited to approximately 20% of the territory, with the remaining 80% of the territory occupied by Morocco.</td>
    </tr>
    <tr>
      <th>171</th>
      <td>165</td>
      <td>Suriname</td>
      <td>598000</td>
      <td>NaN</td>
      <td>1 Jul 2019</td>
      <td>Official estimate[158]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>172</th>
      <td>166</td>
      <td>Cape Verde</td>
      <td>563198</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[159]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>173</th>
      <td>167</td>
      <td>Malta</td>
      <td>519562</td>
      <td>NaN</td>
      <td>21 Nov 2021</td>
      <td>Census 2021[160]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>174</th>
      <td>168</td>
      <td>Belize</td>
      <td>430191</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[161]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>175</th>
      <td>169</td>
      <td>Brunei</td>
      <td>429999</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>Official estimate[162]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>176</th>
      <td>170</td>
      <td>Bahamas</td>
      <td>393450</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[163]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>177</th>
      <td>171</td>
      <td>Maldives</td>
      <td>383135</td>
      <td>NaN</td>
      <td>31 Dec 2019</td>
      <td>Official estimate[164]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>178</th>
      <td>–</td>
      <td>Northern Cyprus</td>
      <td>382230</td>
      <td>NaN</td>
      <td>31 Dec 2019</td>
      <td>Official estimate[165]</td>
      <td>De facto independent, de jure part of Cyprus.</td>
    </tr>
    <tr>
      <th>179</th>
      <td>172</td>
      <td>Iceland</td>
      <td>381370</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>National quarterly estimate[166]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>180</th>
      <td>–</td>
      <td>Transnistria</td>
      <td>306000</td>
      <td>NaN</td>
      <td>1 Jan 2018</td>
      <td>2021 estimate[167]</td>
      <td>De facto independent, de jure part of Moldova.</td>
    </tr>
    <tr>
      <th>181</th>
      <td>173</td>
      <td>Vanuatu</td>
      <td>301295</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>182</th>
      <td>174</td>
      <td>Barbados</td>
      <td>288000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>183</th>
      <td>–</td>
      <td>French Polynesia (France)</td>
      <td>279890</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>184</th>
      <td>–</td>
      <td>New Caledonia (France)</td>
      <td>273674</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>185</th>
      <td>–</td>
      <td>Abkhazia</td>
      <td>245424</td>
      <td>NaN</td>
      <td>1 Jan 2020</td>
      <td>Official estimate[168]</td>
      <td>The political status of Abkhazia is disputed. Having unilaterally declared independence from Georgia in 1992, Abkhazia is formally recognised as an independent state by 6 UN member states (one other state recognised it but then withdrew its recognition), while Georgia continues to claim it as part of its own territory, designating it as Russian-occupied territory.</td>
    </tr>
    <tr>
      <th>186</th>
      <td>175</td>
      <td>São Tomé and Príncipe</td>
      <td>214610</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[169]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>187</th>
      <td>176</td>
      <td>Samoa</td>
      <td>199853</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>188</th>
      <td>177</td>
      <td>Saint Lucia</td>
      <td>178696</td>
      <td>NaN</td>
      <td>1 Jul 2018</td>
      <td>Official estimate[170]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>189</th>
      <td>–</td>
      <td>Guam (United States)</td>
      <td>153836</td>
      <td>NaN</td>
      <td>1 Apr 2020</td>
      <td>2020 census result[171]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>190</th>
      <td>–</td>
      <td>Curaçao (Netherlands)</td>
      <td>153671</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[172]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>191</th>
      <td>–</td>
      <td>Artsakh</td>
      <td>148900</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[173]</td>
      <td>De facto independent, de jure part of Azerbaijan.</td>
    </tr>
    <tr>
      <th>192</th>
      <td>178</td>
      <td>Kiribati</td>
      <td>120740</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>193</th>
      <td>179</td>
      <td>Grenada</td>
      <td>113000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>194</th>
      <td>–</td>
      <td>Aruba (Netherlands)</td>
      <td>111050</td>
      <td>NaN</td>
      <td>31 Dec 2020</td>
      <td>National quarterly estimate[174]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>195</th>
      <td>180</td>
      <td>Saint Vincent and the Grenadines</td>
      <td>110696</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>Official estimate[175]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>196</th>
      <td>–</td>
      <td>Jersey (British Crown Dependency)</td>
      <td>107800</td>
      <td>NaN</td>
      <td>31 Dec 2019</td>
      <td>Official estimate[176]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>197</th>
      <td>181</td>
      <td>Micronesia</td>
      <td>105754</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>198</th>
      <td>182</td>
      <td>Tonga</td>
      <td>99532</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>199</th>
      <td>183</td>
      <td>Antigua and Barbuda</td>
      <td>99337</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[177]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>200</th>
      <td>184</td>
      <td>Seychelles</td>
      <td>99202</td>
      <td>NaN</td>
      <td>30 Jun 2021</td>
      <td>National semi-annual estimate[178]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>201</th>
      <td>–</td>
      <td>U.S. Virgin Islands (United States)</td>
      <td>87146</td>
      <td>NaN</td>
      <td>1 Apr 2020</td>
      <td>2020 census result[179]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>202</th>
      <td>–</td>
      <td>Isle of Man (British Crown Dependency)</td>
      <td>84069</td>
      <td>NaN</td>
      <td>30 May 2021</td>
      <td>2021 Census results[180]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>203</th>
      <td>185</td>
      <td>Andorra</td>
      <td>79535</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[181]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>204</th>
      <td>186</td>
      <td>Dominica</td>
      <td>72000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>205</th>
      <td>–</td>
      <td>Cayman Islands (United Kingdom)</td>
      <td>65786</td>
      <td>NaN</td>
      <td>30 Sep 2020</td>
      <td>National quarterly estimate[182]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>206</th>
      <td>–</td>
      <td>Bermuda (United Kingdom)</td>
      <td>64055</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[183]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>207</th>
      <td>–</td>
      <td>Guernsey (British Crown Dependency)</td>
      <td>63124</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>National quarterly estimate[184]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>208</th>
      <td>–</td>
      <td>Greenland (Denmark)</td>
      <td>56562</td>
      <td>NaN</td>
      <td>1 Jan 2022</td>
      <td>National quarterly estimate[185]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>209</th>
      <td>187</td>
      <td>Marshall Islands</td>
      <td>54516</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>210</th>
      <td>188</td>
      <td>Saint Kitts and Nevis</td>
      <td>54072</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>211</th>
      <td>–</td>
      <td>Faroe Islands (Denmark)</td>
      <td>54000</td>
      <td>NaN</td>
      <td>1 Jun 2022</td>
      <td>Monthly national estimate[186]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>212</th>
      <td>–</td>
      <td>South Ossetia</td>
      <td>53532</td>
      <td>NaN</td>
      <td>15 Oct 2015</td>
      <td>2015 census result[187]</td>
      <td>South Ossetia's status is disputed. It considers itself to be an independent state, but this is recognised by only a few other countries. The Georgian government and most of the world's other states consider South Ossetia de jure a part of Georgia's territory.</td>
    </tr>
    <tr>
      <th>213</th>
      <td>–</td>
      <td>American Samoa (United States)</td>
      <td>49710</td>
      <td>NaN</td>
      <td>1 Apr 2020</td>
      <td>2020 census result[188]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>214</th>
      <td>–</td>
      <td>Northern Mariana Islands (United States)</td>
      <td>47329</td>
      <td>NaN</td>
      <td>1 Apr 2020</td>
      <td>2020 census result[189]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>215</th>
      <td>–</td>
      <td>Turks and Caicos Islands (United Kingdom)</td>
      <td>44542</td>
      <td>NaN</td>
      <td>1 Jul 2020</td>
      <td>Official estimate[190]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>216</th>
      <td>–</td>
      <td>Sint Maarten (Netherlands)</td>
      <td>42577</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[191]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>217</th>
      <td>189</td>
      <td>Liechtenstein</td>
      <td>39315</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>National semi-annual estimate[192]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>218</th>
      <td>190</td>
      <td>Monaco</td>
      <td>39150</td>
      <td>NaN</td>
      <td>31 Dec 2021</td>
      <td>Official estimate[193]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>219</th>
      <td>–</td>
      <td>Gibraltar (United Kingdom)</td>
      <td>34000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>220</th>
      <td>191</td>
      <td>San Marino</td>
      <td>33776</td>
      <td>NaN</td>
      <td>31 Aug 2022</td>
      <td>Monthly national estimate[194]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>221</th>
      <td>–</td>
      <td>Saint Martin (France)</td>
      <td>32489</td>
      <td>NaN</td>
      <td>1 Jan 2019</td>
      <td>Official estimate[195]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>222</th>
      <td>–</td>
      <td>Åland (Finland)</td>
      <td>30415</td>
      <td>NaN</td>
      <td>30 Jun 2022</td>
      <td>Monthly national estimate[110]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>223</th>
      <td>–</td>
      <td>British Virgin Islands (United Kingdom)</td>
      <td>30000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>224</th>
      <td>192</td>
      <td>Palau</td>
      <td>17957</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>225</th>
      <td>–</td>
      <td>Cook Islands (New Zealand)</td>
      <td>15342</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>226</th>
      <td>–</td>
      <td>Anguilla (United Kingdom)</td>
      <td>15000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>227</th>
      <td>193</td>
      <td>Nauru</td>
      <td>11832</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>228</th>
      <td>–</td>
      <td>Wallis and Futuna (France)</td>
      <td>11369</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>229</th>
      <td>194</td>
      <td>Tuvalu</td>
      <td>10679</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>230</th>
      <td>–</td>
      <td>Saint Barthélemy (France)</td>
      <td>10289</td>
      <td>NaN</td>
      <td>1 Jan 2019</td>
      <td>Official estimate[196]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>231</th>
      <td>–</td>
      <td>Saint Helena, Ascension and Tristan da Cunha (United Kingdom)</td>
      <td>6000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>232</th>
      <td>–</td>
      <td>Saint Pierre and Miquelon (France)</td>
      <td>5974</td>
      <td>NaN</td>
      <td>1 Jan 2019</td>
      <td>Official estimate[197]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>233</th>
      <td>–</td>
      <td>Montserrat (United Kingdom)</td>
      <td>5000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>234</th>
      <td>–</td>
      <td>Falkland Islands (United Kingdom)</td>
      <td>4000</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>UN projection[3]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>235</th>
      <td>–</td>
      <td>Christmas Island (Australia)</td>
      <td>1966</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>Official estimate[198]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>236</th>
      <td>–</td>
      <td>Norfolk Island (Australia)</td>
      <td>1734</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>Official estimate[198]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>237</th>
      <td>–</td>
      <td>Niue (New Zealand)</td>
      <td>1549</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>238</th>
      <td>–</td>
      <td>Tokelau (New Zealand)</td>
      <td>1501</td>
      <td>NaN</td>
      <td>1 Jul 2021</td>
      <td>National annual projection[95]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>239</th>
      <td>195</td>
      <td>Vatican City</td>
      <td>825</td>
      <td>NaN</td>
      <td>1 Feb 2019</td>
      <td>Monthly national estimate[199]</td>
      <td>The total population of 825 consisted of 453 residents and 372 non-resident citizens.</td>
    </tr>
    <tr>
      <th>240</th>
      <td>–</td>
      <td>Cocos (Keeling) Islands (Australia)</td>
      <td>573</td>
      <td>NaN</td>
      <td>30 Jun 2020</td>
      <td>Official estimate[198]</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>241</th>
      <td>–</td>
      <td>Pitcairn Islands (United Kingdom)</td>
      <td>40</td>
      <td>NaN</td>
      <td>1 Jan 2021</td>
      <td>Official estimate[200]</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>